@using TrainingGuides.Web.Features.Membership.Widgets.Authentication

@model SignInWidgetViewModel

@{
    // Using a new guid ensures no conflict if, for some reason, multiple widgets are on the same page.
    var formDivId = $"signInForm{Guid.NewGuid()}";

    bool isMisconfigured = Model == null
        || string.IsNullOrWhiteSpace(Model.BaseUrl)
        || string.IsNullOrWhiteSpace(Model.SubmitButtonText)
        || string.IsNullOrWhiteSpace(Model.UserNameOrEmailLabel)
        || string.IsNullOrWhiteSpace(Model.PasswordLabel)
        || string.IsNullOrWhiteSpace(Model.StaySignedInLabel);
}
@if (isMisconfigured)
{
    <tg-page-builder-content>
        <tg-configure-widget-instructions />
    </tg-page-builder-content>
    
    return;
}

<div class="text-center">
    <h3>@Model.FormTitle</h3>
</div>

@if(Model.DisplayForm)
{
    @using (Html.AjaxBeginForm("Autheticate", "Authentication", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = formDivId
    }, new { action = $"{Model.BaseUrl}/Authentication/Authenticate" }))
    {
        <div id="@formDivId">
            <partial name="~/Features/Membership/Widgets/SignIn/SignInForm.cshtml" model="Model" />
        </div>
    }
}
