@using TrainingGuides.Web.Features.Membership.Widgets.SignIn

@model SignInWidgetViewModel

@if (Model == null || Model.IsMisconfigured)
{
    <tg-page-builder-content>
        <tg-configure-widget-instructions />
    </tg-page-builder-content>
    
    return;
}

<div class="text-center px-2">
    <h3>@Model.FormTitle</h3>
</div>

@if(Model.DisplayForm)
{
    // Using a new guid ensures no conflict if, for some reason, multiple widgets are on the same page.
    var formDivId = $"signInForm{Guid.NewGuid()}";

    @using (Html.AjaxBeginForm("Autheticate", "Authentication", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = formDivId,
        @* OnSuccess = "RedirectOnAuthenticationSuccess(data)" *@
    }, new { action = $"{Model.BaseUrl}/Authentication/Authenticate" }))
    {
        <div id="@formDivId" class="px-2">
            <partial name="~/Features/Membership/Widgets/SignIn/SignInForm.cshtml" model="Model" />
        </div>
    }
}