@using TrainingGuides.Web.Features.Header
@using TrainingGuides.Web.Features.DataProtection.ViewComponents.TrackingConsent
@using TrainingGuides.Web.Features.DataProtection.Services
@using Kentico.Activities.Web.Mvc

@{
    var title = $"{ViewBag.Title} - Kentico training guides";
    var baseUrl = $"{Context.Request.Scheme}://{Context.Request.Host + (string.IsNullOrWhiteSpace(Context.Request.PathBase) ? string.Empty : Context.Request.PathBase)}";
}
<!DOCTYPE html>

<html>
<head id="head">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="icon" href="~/content/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/content/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/content/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/content/images/favicon-16x16.png">
    <link rel="manifest" href="~/content/images/site.webmanifest">
    <link rel="mask-icon" href="~/content/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="stylesheet" type="text/css" href="@baseUrl/assets/css/style.css?v=1.0.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />

    <page-builder-styles/>
    
    <title>@title</title>
    <meta data-hid="apple-mobile-web-app-title" name="apple-mobile-web-app-title" content="@title">
    <meta data-hid="mobile-web-app-capable" name="mobile-web-app-capable" content="yes">
    <meta data-hid="author" name="author" content="Kentico software s.r.o.">

</head>
<body class="p-hp t-default">
    <div class="page-wrapper">
        <vc:header />        
        <vc:tracking-consent/>
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="c-footer">
            <div class="container-xl">
                <div class="row c-divider">
                    <div class="col-md-8">
                        <div class="c-circle c-footer_circle">
                        </div>
                        <div class="row mt-5 c-footer-grid">
                            <div class="col-md-3 grid-item">
                                <ul class="c-list-footer">
                                    <li class="c-list-footer_item"><a href="https://www.kentico.com/" target="_blank"><h2 class="">kentico.com</h2></a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 grid-item">
                                <ul class="c-list-footer">
                                    <li class="c-list-footer_item"><a href="https://www.kentico.com/platform/xap" target="_blank"><h2 class="">Xperience Adopters Program</h2></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <strong>Xperience by Kentico training guide samples.</strong>
            </div>
        </footer>
    </div>

    <page-builder-scripts/>


    <script src="~/scripts/jquery-3.6.4.min.js"></script>
    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>


    <script src="@baseUrl/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="@baseUrl/assets/js/main.min.js?v=1.0.0"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    
</body>
</html>
