@using Microsoft.AspNetCore.Html
@using TrainingGuides.Web.Features.Shared

@model TemplateViewModel<PageBuilderPageTemplateProperties>

@{

}

<div>
    <editable-area area-identifier="areaMain" />
</div>
