@using TrainingGuides.Web.Features.Shared.Sections.SingleColumn
@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<TrainingGuides.Web.Features.Shared.Sections.SingleColumn.SingleColumnSectionProperties>

@{
    var sectionAnchor = !string.IsNullOrWhiteSpace(Model.Properties.SectionAnchor) ? $"id={Model.Properties.SectionAnchor}" : "";
}

<section class="c-section default" @sectionAnchor>
    <widget-zone />
</section>