@using TrainingGuides.Web.Components.Sections
@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<TrainingGuides.Web.Components.Sections.SingleColumnSectionProperties>

@{
    var sectionAnchor = !string.IsNullOrWhiteSpace(Model.Properties.SectionAnchor) ? $"id={Model.Properties.SectionAnchor}" : "";
}

<section @sectionAnchor>
    <widget-zone />
</section>