@using TrainingGuides.Web.Features.Membership.Widgets.Registration

@model RegistrationWidgetViewModel

@{
    var formDivId = $"registerForm{Guid.NewGuid()}";
}

<h3>@Model.FormTitle</h3>

@using (Html.AjaxBeginForm("Register", "Registration", new AjaxOptions
 {
     HttpMethod = "POST",
     InsertionMode = InsertionMode.Replace,
     UpdateTargetId = formDivId
 }, new { action = $"{Model.BaseUrl}/Registration/Register" }))
 {
    <div id="@formDivId">
        <partial name="~/Features/Membership/Widgets/Registration/RegistrationForm.cshtml" model="Model" />
    </div>
 }
