@model TrainingGuides.Web.Features.Header.HeaderViewModel

<header class="c-header sticky-top">
    <nav class="navbar navbar-expand-md c-main-navbar">
        <div id="navbar-container">
            <h1>@Model.Heading</h1>
        </div>
    </nav>
</header>