@using TrainingGuides.Web.Features.Articles

@model TemplateViewModel

@{
    var templateModel = Model.GetTemplateModel<ArticlePageViewModel>();
    ViewBag.Title = templateModel.Title;
}

<div>
    <h1>
        @templateModel.Title
    </h1>
    <p>
        @templateModel.Text
    </p>
</div>

@section styles {
    <page-builder-styles/>
}
@section scripts {
    <page-builder-scripts/>
}