.c-post h1,
.c-post .h1 {
    font-size: 1.875rem;
}

.c-post h2,
.c-post .h2 {
    font-size: 1.625rem;
}

.c-post_body {
    margin: 2.5rem 1.5rem 0;
}

.c-post_body p {
    margin-top: 1.625rem;
    margin-bottom: 1.625rem;
}

.c-post_quote {
    float: left;
    margin: .375rem 1.875rem 1.25rem 0;
    padding: 1.75rem 1.5rem;
    background: var(--k-primary, #8107c1);
    color: #fff;
    font-size: 1.25rem;
    text-align: center;
    width: 190px;
    max-width: 50%;
    font-weight: 500;
}

.c-post_quote_ico {
    font-size: 3rem;
    line-height: .7;
}

.c-post-thumbnail {
    font-size: 1.125rem;
}

.c-post-thumbnail_ico {
    width: 7.5rem;
    height: 7.5rem;
}

.c-post-thumbnail.default .c-card {
    padding: 2.25rem 2rem 2rem;
}

.c-post-thumbnail.bg .c-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 28rem;
    background: no-repeat center center;
    background-size: cover;
    padding: 2.25rem 2rem 2rem;
    position: relative;
    overflow: hidden;
}

.c-post-thumbnail.bg .c-card:before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background: #000;
    opacity: .3;
}

.c-post-thumbnail.bg .c-card>* {
    z-index: 1;
}

.j-truncate_heading,
.j-truncate_paragraph {
    max-height: calc(1.75rem * 3);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}