@use 'variables';

.form form {
    display: grid;
}

.form form input[type=submit] {
    margin: 1.5rem 0;
    background-color: variables.$color-secondary;
    color: #fff;
    border: none;
    border-top-left-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    transition: .15s opacity, .15s transform, .15s background-color;
    letter-spacing: .1em;
    white-space: nowrap;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    padding: 0.9375rem 2rem;
}

.form form input[type=submit]:hover {
    background-color: variables.$color-secondary-hover;
    border-color: variables.$color-secondary-hover;
    color: #fff;
    border: none;
}

.form form .form-field {
    margin: 1rem 0;
    position: relative;
}

.form form .form-field .control-label {
    margin-bottom: 0.375rem;
    font-size: 0.875rem;
    font-weight: 700;
}

.form form .form-field .field-validation-error {
    position: absolute;
    bottom: -17px;
    left: 20px;
    color: #b72929;
    font-size: 0.75rem;
    font-weight: 700;
}

.form .formwidget-submit-text {
    text-align: center;
    margin: 2rem 0;
    font-weight: 700;
}