@use 'variables';

@mixin button-mixin ($background-color: variables.$color-secondary) {
    background-color: $background-color !important;
    color: variables.$color-light !important;
    border: none !important;
    border-top-left-radius: 1.75rem !important;
    border-bottom-left-radius: 1.75rem !important;
    border-top-right-radius: 1.75rem !important;
    border-bottom-right-radius: 1.75rem !important;
    transition: .15s opacity, .15s transform, .15s background-color !important;
    white-space: nowrap !important;
    font-size: 0.875rem !important;
    line-height: 1rem !important;
    padding: 0.9375rem 2rem !important;
    text-transform: uppercase !important;
}

@mixin border-radius-cancel-top-mixin {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@mixin border-radius-cancel-bottom-mixin {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@mixin image-position-absolute($width: 100%) {
    position: absolute;
    width: $width;
    max-height: 100%;
    object-fit: cover;
    top: 0;
}