@use 'variables';

.c-why_heading {
    color: variables.$why-heading-color;
}

.c-products-grid {
    margin-left: -1rem;
    margin-right: -1rem;
    position: relative;
    z-index: 1;
}

.c-products-grid:before,
.c-products-grid:after {
    content: '';
    display: block;
    position: absolute;
    background: variables.$products-grid-bg;
    z-index: 1;
}

.c-products-grid:before {
    inset: 0 auto 2rem 0;
    width: 36vw;
}

.c-products-grid_inner {
    position: relative;
    margin-bottom: 1rem;
    padding-bottom: 3rem;
    overflow: auto;
    scrollbar-color: variables.$color-primary variables.$body-bg;
}

.c-products-grid_inner::-webkit-scrollbar {
    width: variables.$scrollbar-width;
    height: variables.$scrollbar-width;
}

.c-products-grid_inner::-webkit-scrollbar-track {
    margin: 0 50px;
    background: variables.$scrollbar-track-color;
}

.c-products-grid_inner::-webkit-scrollbar-thumb {
    background: variables.$scrollbar-thumb-color;
}

.c-products-grid_scrollable {
    width: max-content;
}

.c-products-grid_bg {
    position: absolute;
    top: 0;
    bottom: 3rem;
    background: variables.$products-grid-tile-bg;
    border-radius: variables.$border-radius-rounded-corners;
    width: 46vw;
    margin-left: -1vw;
    z-index: -1;
}

.c-products-grid_bg.highlight {
    box-shadow: 0 0 2vw 0 variables.$products-grid-highlight-shadow;
}

.c-products-grid_row {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 2vw;
    background: transparent;
    transition: .2s background-color ease;
}

.c-products-grid_row.no-hover .c-products-grid_col {
    position: static;
}

.c-products-grid_row.no-hover .c-products-grid_col:before {
    content: '';
    display: none;
}

.c-products-grid_row.no-hover .c-products-grid_col.gap,
.c-products-grid_row.no-hover .c-products-grid_col.th {
    position: sticky;
}

.c-products-grid_row:first-child .c-products-grid_col {
    align-items: flex-end;
    padding: 1.5rem 0 1rem;
}

.c-products-grid_row:last-child .c-products-grid_col {
    border-bottom: none;
}

.c-products-grid_row.shortDescription .c-products-grid_col {
    border-bottom: none;
}

.c-products-grid_col {
    position: relative;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 42vw;
    padding: 1.25rem 0;
    min-height: 3.5rem;
    border-bottom: 1px solid variables.$pricelist-table-lines;
    text-align: center;
    margin: 0 4vw;
    font-size: 1.125rem;
    color: variables.$products-grid-col-color;
}

.c-products-grid_col:before {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    background: transparent;
    transition: .2s background-color ease;
    z-index: -1;
}

.c-products-grid_col.th {
    width: 34vw;
    text-align: left;
    justify-content: flex-start;
    border-bottom: 1px solid variables.$color-secondary;
    margin: 0;
    padding: 1.25rem 0;
    font-size: 1rem;
    position: sticky;
    left: 2vw;
    z-index: 1;
    color: inherit;
}

.c-products-grid_col.th:before {
    inset: 0;
}

.c-products-grid_col.gap {
    width: 1vw;
    border-bottom: none;
    margin: 0;
    padding: 0;
    position: sticky;
    right: 0;
    z-index: 1;
    background: variables.$products-grid-bg;
}

.c-products-grid_col.gap:before {
    content: none;
    display: none;
}

.c-products-grid_col h3,
.c-products-grid_col .h3,
.c-products-grid_col h4,
.c-products-grid_col .h4 {
    margin-bottom: 0;
}

.c-products-grid_col:nth-last-child(2) {
    margin-right: 22px;
}

.c-products-grid_del-price {
    color: variables.$products-grid-del-price;
}

.c-products-grid_check {
    color: variables.$products-grid-check-color;
}

.c-products-grid .accordion-button {
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: .5rem;
}

@media (min-width: 568px) {
    .c-products-grid {
        margin-left: -1rem;
        margin-right: -1rem;
    }

    .c-products-grid:before {
        width: 204px;
    }

    .c-products-grid_bg {
        width: 240px;
        margin-left: -15px;
    }

    .c-products-grid_bg.highlight {
        box-shadow: 0 0 20px 0 variables.$products-grid-highlight-shadow;
    }

    .c-products-grid_row {
        padding: 0 0 0 24px;
    }

    .c-products-grid_col {
        width: 210px;
        margin: 0 30px;
        min-height: 4rem;
    }

    .c-products-grid_col.th {
        width: 180px;
        margin: 0 12px 0 0;
        left: 24px;
    }

    .c-products-grid_col.gap {
        width: 30px;
        margin: 0 0 0 -2px;
    }
}

@media (min-width: 768px) {
    .c-products-grid {
        margin-left: -2.5rem;
        margin-right: -2.5rem;
    }

    .c-products-grid:before {
        width: 276px;
    }

    .c-products-grid_bg {
        width: 300px;
        margin-left: -15px;
    }

    .c-products-grid_bg.highlight {
        box-shadow: 0 0 30px 0 variables.$products-grid-highlight-shadow;
    }

    .c-products-grid_row:hover .c-products-grid_col:before {
        background: variables.$products-grid-hover-overlay;
    }

    .c-products-grid_col {
        width: 270px;
        margin: 0 30px;
        min-height: 4rem;
    }

    .c-products-grid_col.th {
        width: 236px;
        margin: 0 30px 0 0;
        left: 36px;
        padding: 1.25rem 1rem;
    }

    .c-products-grid_col.gap {
        width: 30px;
        margin: 0 0 0 -2px;
    }

    .c-products-grid_col:before {
        inset: 0 -15px;
    }
}

@media (min-width: 992px) {
    .c-products-grid_bg {
        width: 250px;
    }

    .c-products-grid_col {
        width: 220px;
        margin: 0 30px;
        min-height: 4rem;
    }
}

@media (min-width: 1200px) {
    .c-products-grid:before {
        width: 282px;
    }

    .c-products-grid_bg {
        width: 224px;
        margin-left: -20px;
    }

    .c-products-grid_bg.highlight {
        box-shadow: 0 0 30px 0 variables.$products-grid-highlight-shadow;
    }

    .c-products-grid_row {
        padding: 0 0 0 58px;
    }

    .c-products-grid_col {
        width: 184px;
        min-height: 5rem;
    }

    .c-products-grid_col.th {
        width: 224px;
        left: 58px;
        margin: 0 15px 0 0;
    }

    .c-products-grid_col:nth-last-child(2) {
        margin-right: 22px;
    }

    .c-products-grid_col:before {
        inset: 0 -20px;
    }
}

.c-product-img {
    max-width: 35rem;
    max-height: 20rem;
}

.c-pricelist {
    padding: 1.5rem 1rem;
}
.c-pricelist_text {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c-pricelist_price {
    color: variables.$color-secondary;
}
.c-pricelist_heading {
    color: variables.$color-dark;
}
.c-pricelist .c-table {
    padding: 1rem;
    border: solid 1px variables.$pricelist-table-outline;
    margin: 0 4rem;
}
.c-pricelist .c-table_row {
    border-top: 1px solid variables.$pricelist-table-lines;
    align-items: center;
}
.c-pricelist .c-table_row:last-child {
    border-bottom: 1px solid variables.$pricelist-table-lines;
}
.c-pricelist .c-table_cell {
    padding: 0.375rem;
}
@media (max-width: 567.98px) {
    .c-pricelist .c-table_cell:first-child {
        padding-left: 0;
    }
    .c-pricelist .c-table_cell:last-child {
        padding-right: 0;
    }
}
.c-pricelist.compact {
    padding: 0;
    background: 0;
}
.c-pricelist.compact .c-table {
    padding: 0.5rem 0.75rem;
}
.c-pricelist.compact .c-table_row {
    flex-direction: column;
    align-items: flex-start;
}
.c-pricelist.compact .c-table_row:first-child {
    border-top: 0;
}
.c-pricelist.compact .c-table_row:last-child {
    border-bottom: 0;
}
.c-pricelist.compact .c-table_cell {
    padding: 0 0.75rem;
}
.c-pricelist.compact .c-table_cell.light {
    opacity: 0.7;
}
.c-pricelist.compact .c-table_cell:first-child {
    padding-top: 0.5rem;
}
.c-pricelist.compact .c-table_cell:last-child {
    padding-bottom: 0.5rem;
}
.c-table_row{
    display:flex;
    justify-content:space-between
}
@media (min-width: 568px) {
    .c-pricelist {
        margin-top: 0;
    }
    .c-pricelist_text {
        margin-top: 0;
    }
    .c-pricelist .c-table {
        font-size: 1rem;
        padding: 1.5rem 1rem;
    }
}
@media (min-width: 768px) {
    .c-pricelist {
        padding: 2.5rem;
    }
    .c-pricelist .c-table {
        padding: 1.75rem;
    }
    .c-pricelist .c-table_cell {
        padding: 0.625rem 0.75rem;
    }
}
@media (min-width: 1200px) {
    .c-pricelist {
        padding: 4rem;
    }
    .c-pricelist .c-table {
        padding: 2rem;
    }
}

.tg-product {

    img.tg-product_img {
        width: 100%;
        max-height: 10rem;
        object-fit: cover;
    }

    .tg-product_benefits {
        display: flex;
    }
    
    .align-left {
        text-align: left;

        .tg-product_benefits {
            flex-direction: row;
        }
    }
    .align-center {
        text-align: center;

        .tg-product_benefits {
            text-align: left;
            flex-direction: row;
        }
    }
    .align-right {
        text-align: right;

        .tg-product_benefits {
            flex-direction: row-reverse;
        }
    }

    a:link,
    a:visited, 
    a:hover,
    a:active { 
        text-decoration: none;
        color: inherit;
    }

    &.tg-layout-ascending,
    &.tg-layout-descending {
        margin:20px auto;
        position: relative;
        padding:10px;
        background-color: transparent !important;
        
        .tg-product_main{
            width: 70%;
            margin-top: 8em !important;
            position: relative;
            z-index: 10;
        }
    
        img.tg-product_img {
            position:absolute;
            width: 70%;           
            max-height: 100%;
            object-fit: cover;
            top: 0;
        }
    }

    &.tg-layout-ascending {
        img.tg-product_img {
            right: 0;
        }
        .tg-product_main {
            margin-left: 0 !important; 
            margin-right: auto !important;
        }
    }

    &.tg-layout-descending {
        img.tg-product_img {
            left: 0;
        }

        .tg-product_main {
            margin-left: auto !important; 
            margin-right: 0 !important;
        }
    }
}