@use 'variables';

.t-default {
    background: variables.$body-bg;
    color: variables.$body-color;
    --bs-body-font-family: "GT Walsheim Pro", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.content-wrapper {
    min-height: calc(100vh - 12.5rem);
}

@media (min-width: 1200px) {
    .content-wrapper {
        min-height: calc(100vh - 14rem);
    }
}

.c-circle {
    position: absolute;
    border-radius: 50%;
}

.u-border-01 {
    border: none;
    border-radius: variables.$border-radius-rounded-corners;
}

.u-border-02 {
    border: none;
    border-radius: variables.$border-radius-rounded-corners;
}

.c-img-placeholder.type01 {
    width: 5rem;
    height: 4rem;
}

.c-img-placeholder.type02 {
    width: 3rem;
    height: 2.5rem;
}

.c-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: top;
}

.c-icon-box {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: .75rem
}

.c-icon-box_icon {
    color: variables.$color-primary
}

.c-icon-box_icon .c-icon {
    width: 1.5rem;
    height: 1.5rem
}

.c-link.basic {
    color: inherit;
    text-decoration: underline;
}

.c-link.basic:hover,
.c-link.basic:focus {
    color: inherit;
    text-decoration: none;
}

.c-link.silent {
    color: inherit;
    text-decoration: none;
}

.c-link.silent:hover,
.c-link.silent:focus {
    color: inherit;
    text-decoration: underline;
}

.c-link.primary-upper {
    color: variables.$color-primary;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: .15s color ease;
}

.c-link.primary-upper .c-icon {
    width: .875rem;
    height: .875rem;
    vertical-align: baseline;
}

.c-link.primary-upper:hover,
.c-link.primary-upper:focus {
    color: variables.$color-primary;
}

.c-link.primary-upper:active {
    color: variables.$color-primary;
}

.c-date {
    font-size: .875rem;
    margin: .6rem 0;
    color: variables.$color-secondary;
}

.tg-corner-shrp {
    border-radius: 0;
}

.tg-corner-rnd {
    border-radius: variables.$border-radius-rounded-corners;
}

.tg-corner-v-rnd {
    border-radius: variables.$border-radius-very-rounded-corners;
}

.tg-bg-primary {
    background: variables.$color-primary;
}

.tg-bg-secondary {
    background: variables.$color-secondary;
}

.tg-bg-none {
    background: none;
}

.tg-bg-light-1 {
    background: variables.$color-light;
}

.tg-bg-light-2 {
    background: variables.$color-light-secondary;
}

.tg-bg-light-3 {
    background: variables.$color-light-tertiary;
}

.tg-txt-light {
    color: variables.$color-light;
}

.tg-txt-dark {
    color: variables.$color-dark;
}