@use '_article.scss';
@use '_button.scss'; 
@use '_card.scss'; 
@use '_data-protection.scss'; 
@use '_font.scss';
@use '_footer.scss';
@use '_form.scss';
@use '_header.scss';
@use '_product.scss';
@use '_section.scss';


.t-default {
    background: var(--k-body-bg, #fff);
    color: var(--k-body-color, #1e1a1b);
    --bs-body-font-family: var(--k-body-font, "GT Walsheim Pro"), Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.content-wrapper {
    min-height: calc(100vh - 12.5rem);
}

@media (min-width: 1200px) {
    .content-wrapper {
        min-height: calc(100vh - 14rem);
    }
}

.c-circle {
    position: absolute;
    border-radius: 50%;
}

.u-border-01 {
    border: none;
    border-radius: var(--k-border-radius, 2rem);
}

.u-border-02 {
    border: none;
    border-radius: var(--k-border-radius-2, var(--k-border-radius, 2rem));
}

.c-img-placeholder.type01 {
    width: 5rem;
    height: 4rem;
}

.c-img-placeholder.type02 {
    width: 3rem;
    height: 2.5rem;
}

.c-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: top;
}

.c-icon-box {
    display: grid;
    grid-template-columns: 1.5rem 1fr;
    gap: .75rem
}

.c-icon-box_icon {
    color: var(--k-secondary, #8107c1)
}

.c-icon-box_icon .c-icon {
    width: 1.5rem;
    height: 1.5rem
}

.c-link.basic {
    color: inherit;
    text-decoration: underline;
}

.c-link.basic:hover,
.c-link.basic:focus {
    color: inherit;
    text-decoration: none;
}

.c-link.silent {
    color: inherit;
    text-decoration: none;
}

.c-link.silent:hover,
.c-link.silent:focus {
    color: inherit;
    text-decoration: underline;
}

.c-link.primary-upper {
    color: var(--k-primary, #8107c1);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: .15s color ease;
}

.c-link.primary-upper .c-icon {
    width: .875rem;
    height: .875rem;
    vertical-align: baseline;
}

.c-link.primary-upper:hover,
.c-link.primary-upper:focus {
    color: var(--k-primary-hover, var(--k-primary, #8107c1));
}

.c-link.primary-upper:active {
    color: var(--k-primary-active, var(--k-primary-hover, var(--k-primary, #8107c1)));
}


.c-date {
    font-size: .875rem;
    margin: .6rem 0;
    color: var(--k-secondary, #f0561a);
}