@using TrainingGuides.Web.Models
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@model TrainingGuides.Web.Components.ViewComponents.Header.HeaderViewModel

@{
    string LogoUrl(AssetViewModel asset)
    {
        return asset != null ? Url.Content(asset.FilePath) : null;
    }

    var editStyle = Context.Kentico().PageBuilder().EditMode ? "style=z-index:100000;" : "";
}

<header class="c-header sticky-top">
    <nav class="navbar navbar-expand-md c-main-navbar">
        <div id="navbar-container">
            <a class="navbar-brand" href="~/">
                <img src="@LogoUrl(Model.Logo)" alt="@Model.Logo?.AltText"/>
            </a>
        </div>
    </nav>    
</header>