@using KBank.Web.Models
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@model KBank.Web.Components.ViewComponents.Header.HeaderViewModel

@{
    string LogoUrl(AssetViewModel asset)
    {
        return asset != null ? Url.Content(asset.FilePath) : null;
    }

    //var editStyle = Context.Kentico().PageBuilder().EditMode ? "style=z-index:100000;" : "";
}

<header class="c-header sticky-top" @*editStyle*@>
    <nav class="navbar navbar-expand-md c-main-navbar">
        <div id="navbar-container" @*class="container-xl"*@>
            <a class="navbar-brand @*logoClass"*@ href="~/">
                <img src="@LogoUrl(Model.Logo)" alt="@Model.Logo?.AltText"/>
            </a>
           @* <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarnavdropdown" aria-controls="navbarnavdropdown" aria-expanded="false" aria-label="toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>*@
        </div>
    </nav>    
</header>