@using TrainingGuides.Web.Features.Membership.Widgets.ResetPassword
@using TrainingGuides.Web.Features.Shared.Helpers

@model ResetPasswordViewModel

@{ 
    Layout = "~/Views/Shared/_UtilityPageLayout.cshtml";
    string formDivId = "resetPasswordForm";
}

@section title {
    <title>@Model.Title</title>
}

<section class="c-section default">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-xxl-9">
                <div class="main">
                    
                    <h3>@Model.Title</h3>

                    @using (Html.AjaxBeginForm("MemberManagement", "ResetPassword", new AjaxOptions
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = formDivId
                    }, new { action = $"{Model.BaseUrlWithLanguage}{ApplicationConstants.PASSWORD_RESET_ACTION_PATH}" }))
                    {
                        <div id="@formDivId" class="px-2">
                            <partial name="~/Features/Membership/Widgets/ResetPassword/ResetPasswordForm.cshtml" model="Model" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>