@using TrainingGuides.Web.Features.Membership.Widgets.ResetPassword;
@model ResetPasswordViewModel

<div class="form-horizontal">

    <div asp-validation-summary="ModelOnly" class="text-danger field-validation-error"></div>

    <input asp-for="BaseUrlWithLanguage">
    <input asp-for="SubmitButtonText">
    <input asp-for="Token">
    <input asp-for="Email">

    <div class="form-group">
        <div class="editing-form-label-cell">
            <label asp-for="Password" class="control-label form-label mt-3"></label>
        </div>
        <div class="editing-form-value-cell">
            <input asp-for="Password" class="form-control" test-id="password">
            <span asp-validation-for="Password" class="text-danger field-validation-error"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="editing-form-label-cell">
            <label asp-for="ConfirmPassword" class="control-label form-label mt-3"></label>
        </div>
        <div class="editing-form-value-cell">
            <input asp-for="ConfirmPassword" class="form-control" test-id="password">
            <span asp-validation-for="ConfirmPassword" class="text-danger field-validation-error"></span>
        </div>
    </div>
    <div class="text-center">
        <button id="register" type="submit" class="btn tg-btn-secondary text-uppercase my-4">@Model.SubmitButtonText</button>
    </div>
</div>