@using TrainingGuides.Web.Features.Shared.Sections.General
@using TrainingGuides.Web.Features.Shared.ViewComponents

@model GeneralSectionViewModel

@{
    var sectionAnchor = !string.IsNullOrWhiteSpace(Model.SectionAnchor) ? $"id={Model.SectionAnchor}" : "";
}

<section @sectionAnchor>
    <tg-component-style color-scheme="@Model.ColorScheme" corner-style="@Model.CornerStyle" class="c-section default">
        <vc:page-builder-columns column-layout-option="@Model.ColumnLayout" page-builder-area-type="@PageBuilderAreaType.WidgetZones" editable-area-options="@new EditableAreaOptions()"/>
    </tg-component-style>
</section>