@using TrainingGuides.Web.Helpers.Cookies
@using Microsoft.AspNetCore.Http;
@inject ICookieAccessor cookieAccessor
@{
    Layout = null;

    // Set acceptance cookie
    cookieAccessor.Set(CookieNames.COOKIE_ACCEPTANCE, "true", new CookieOptions {
                Path = null,
                Expires = DateTime.Now.AddYears(1),
                HttpOnly = false,
                SameSite = SameSiteMode.Lax
            });
}

<div class="cookies__message">
    Cookie preferences have been successfully updated.
</div>