@using CMS.Helpers;
@using TrainingGuides.Web.Features.Shared.Extensions;
@using TrainingGuides.Web.Features.Activities.Widgets.PageLike;
@using Kentico.Web.Mvc
@using Kentico.PageBuilder.Web.Mvc

@model PageLikeWidgetViewModel

@{
    /*
     * You shouldn't need to set the Layout to null as this View should
     * never be used as the view of top level page rendering
     */
    Layout = null;
    var baseUrl = Context.Request.GetBaseUrl();
    var messageId = "pageLikeMessage";
}

@if(Model.ShowLikeButton || Context.Kentico().Preview().Enabled)
{
    @using (Html.AjaxBeginForm("PageLike", "PageLike", new AjaxOptions
     {
         HttpMethod = "POST",
         InsertionMode = InsertionMode.Replace,
         UpdateTargetId = messageId
     }, new { action = $"{baseUrl}/pagelike" }))
    {
        <div class="container">
            <div class="cookie-preferences js-cookie-preferences">
                <input id="WebPageItemID" name="WebPageItemID" type="hidden" value="@Model.WebPageItemID" />
                <input id="ContentTypeName" name="ContentTypeName" type="hidden" value="@Model.ContentTypeName" />
                <button class="btn btn-secondary text-uppercase mt-4 cookie-preferences__button" type="submit" name="button">
                    Like this page
                </button>
                <div id="@messageId" class="cookie-preferences__message"></div>
            </div>
        </div>
    }
}