@using CMS.DocumentEngine.Types.Kentico
@model Kentico.Content.Web.Mvc.Routing.IPageViewModel<HomePage>
<section class="c-section default">
    <div class="container">
        <h3>@Model.Page.HomePageMessage</h3>
    </div>
</section>

<editable-area area-identifier="areaMain" />